.row_section {
  color: white;
  margin-left: 20px;
  padding-bottom: 3rem;
}

.row_poster_container {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}

.poster_image_container {
  width: 150px;
  margin-right: 20px;
}

.row_poster_container {
  -ms-overflow-style: none; /* IE 11 */
  scrollbar-width: none; /*for firefox */
}

.row_poster_container::-webkit-scrollbar {
  display: none;
}

.row_poster_img {
  height: 130px;
  object-fit: cover;
  border-radius: 8px;
  width: 100%;
  cursor: pointer;
  transition: box-shadow 0.2s;
  box-shadow: 7px 7px 0px 0px #e5091463;
  border: 2px solid #e50914;
}

.row_poster_img:hover {
  box-shadow: 0px 0px 0px 8px #e5091463;
}

.movie_poster_name {
  margin-top: 10px;
  display: block;
}

.movie_poster_date {
  color: #ffffff9e;
}

.row_poster_large {
  height: 240px;
}

.poster_trailer {
  max-width: 900px;
  margin: 0 auto;
  display: block;
  animation: show;
  animation-timing-function: ease-in;
  animation-duration: 0.2s;
}

@keyframes show {
  from {
    height: 0px;
  }
  to {
    height: 390px;
  }
}
